a, .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.srpDropdown {

    cursor: pointer;
    box-sizing: content-box;
}

.srpPink {
    color: #dd0cb4;
}

.srpNewTcktInput {
    display: inline-block;
    width: 20%;
    height: 20%;
}

.srpAlignCenter {
    display: inline-block;
    width: 60%;
    height: 60%;
}

.srpDisplayInline {
    display: inline;
}

.srpSizeTextBtnSend {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.srpTableHead {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

#srpTextArea {
    width: 100em;
    height: 12em;
    line-height: 1.33;
    max-height: 24em;
    min-height: 8em;
    resize: vertical;
}