<form role="form">
    <div class="form-group" ng-cloak ng-show="createMode">
        <h2>Créer un utilisateur</h2>
        Email
        <input id="loginEmail" required name="email" type="email" ng-model="email" />

        MDP
        <input id="loginPass" required name="pass" type="password" ng-model="pass" />
        Confirmation MDP
        <input id="loginConfirm" required name="confirm"
               type="password" ng-model="confirm" />

        <button  data-ng-cloak data-ng-show="createMode = true"
                data-ng-click="createAccount(email, pass, confirm)"
                class="btn btn-default btn-sm">
            Créer le compte</button>

        <h2>Créer un groupe</h2>
        Nom
        <input type="text" data-ng-model="srpGroup" />
        <button data-ng-cloak data-ng-show="createMode = true"
                data-ng-click="addNewGroup(srpGroup)"
                class="btn btn-default btn-sm">
            Créer le groupe</button>
    </div>
</form>