<div>
    <tabset>
        <tab heading="Tickets à traiter">
            <br>
            <div>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-export"></span>
                    Exporter vers Excel
                </button>
            </div>
            <br>
            <table class="table">
                <tr class="srpPink">
                    <th> # </th>
                    <th > Nom </th>
                    <th > Sujet </th>
                    <th > Priorité </th>
                    <th > Avant/Après Vente </th>
                    <th > Catégorie </th>
                    <th > Sous-Catégorie </th>
                    <th > No. de Commande </th>
                    <th > No. de Vente </th>
                    <th > Ref. SRP </th>
                    <th > Date de Création </th>
                    <th > Statut </th>
                    <th > +1500€ </th>
                    <th > Date de Dernière Réponse </th>
                    <th > Par </th>
                </tr>
            </table>
        </tab>

        <tab heading="Tickets non lus">
            <br>
            <table class="table">
                <tr class="srpPink">
                    <th > # </th>
                    <th > Nom </th>
                    <th > Sujet </th>
                    <th > Priorité </th>
                    <th > Avant/Après Vente </th>
                    <th > Catégorie </th>
                    <th > Sous-Catégorie </th>
                    <th > No. de Commande </th>
                    <th > No. de Vente </th>
                    <th > Ref. SRP </th>
                    <th > Date de Création </th>
                    <th > Statut </th>
                    <th > +1500€ </th>
                    <th > Date de Dernière Réponse </th>
                    <th > Par </th>
                </tr>
            </table>
        </tab>

        <tab heading="Mes tickets et tickets suivis">
            <br>
            <table class="table">
                <tr class="srpPink">
                    <th > # </th>
                    <th > Nom </th>
                    <th > Sujet </th>
                    <th > Priorité </th>
                    <th > Avant/Après Vente </th>
                    <th > Catégorie </th>
                    <th > Sous-Catégorie </th>
                    <th > No. de Commande </th>
                    <th > No. de Vente </th>
                    <th > Ref. SRP </th>
                    <th > Date de Création </th>
                    <th > Statut </th>
                    <th > +1500€ </th>
                    <th > Date de Dernière Réponse </th>
                    <th > Par </th>
                </tr>
            </table>

        </tab>

        <tab heading="Nouveau Ticket">
            <br>
            <div>
                <div>
                    <label>Priorité</label>
                    <div class="btn-group" dropdown>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                dropdown-toggle>
                            Choisir<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="choice in ssCat">
                                <a data-ng-click="userChoice = $index">{{ choice }}</a>
                            </li>
                        </ul>
                    </div>
                    <br><br>
                    <label>Vente</label>
                    <div class="btn-group" dropdown>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                dropdown-toggle>
                            Choisir<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="choice in ssCat">
                                <a data-ng-click="userChoice = $index">{{ choice }}</a>
                            </li>
                        </ul>
                    </div>
                    <br><br>
                    <label>Catégorie</label>
                    <div class="btn-group" dropdown>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                dropdown-toggle>
                            Choisir<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="choice in ssCat">
                                <a data-ng-click="userChoice = $index">{{ choice }}</a>
                            </li>
                        </ul>
                    </div>
                    <br><br>
                    <label>Sous-Catégorie</label>
                    <div class="btn-group" dropdown>
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                dropdown-toggle>
                            Choisir<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="choice in ssCat">
                                <a data-ng-click="userChoice = $index">{{ choice }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div>

                </div>

                <div>
                </div>

                <div class="srpDisplayInline">
                    <label>No. de Commande</label>
                    <input class="srpNewTcktInput input-sm">
                    <label>No. de Vente</label>
                    <input class="srpNewTcktInput input-sm">
                    <label>Ref. SRP</label>
                    <input class="srpNewTcktInput input-sm">
                </div>
                <br><br>
                <div>
                    <label>Sujet</label>
                    <input class="srpNewTcktInput input-sm">
                </div>
                <br>
                <div>
                    <label>
                        <span class="glyphicon glyphicon-paperclip"></span> Fichier à joindre</label>
                    <button class="glyphicon glyphicon-plus btn btn-success btn-sm"></button>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-send"></span>
                        <label class="srpSizeTextBtnSend">
                            Envoyer le ticket</label>
                    </button>
                </div>
            </div>
        </tab>

        <tab heading="Paramètres">
            <br>
            <div>
                <label>Catégorie</label>
                <input class="srpAlignCenter input-sm"
                       placeholder="Entrez une nouvelle catégorie puis appuyez sur la touche entrée">
            </div>
            <hr>
            <div>
                <label>Sous-Catégorie</label>
                <input class="srpAlignCenter input-sm"
                       placeholder="Entrez une nouvelle sous-catégorie puis appuyez sur la touche entrée">
            </div>
        </tab>

        <tab heading="Recherche">
            <br>
            <div>
                <label for="inputDefault">No. de Ticket</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">No. de Commande</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">No. de Vente</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Nom</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Groupe</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label>Vente</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        Choisir<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div>
                <label>Priorité</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        Choisir<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div>
                <label>Catégorie</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        Choisir<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div>
                <label class="">Sous-Catégorie</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        <div data-ng-if="userChoice !== false">
                            {{ ssCat[userChoice] }}
                            <span class="caret"></span></div>
                        <div data-ng-if="userChoice === false">
                            Choisir 
                            <span class="caret"></span></div>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <br>
            <div>
                <label>+ 1 500€</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        Non<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div>
                <label>Statut</label>
                <div class="btn-group" dropdown>
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            dropdown-toggle>
                        Choisir<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="choice in ssCat">
                            <a data-ng-click="userChoice = $index">{{ choice }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div>
                <label for="inputDefault">Date de début</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Date de fin</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Dernière action par</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <button class="btn btn-primary btn-block"> 
                    <span class="glyphicon glyphicon-search"></span>                        
                    <label class="srpSizeTextBtnSend">
                    Recherche</label>
                </button>
            </div>
            <br>
            <div>
                <button class="btn btn-default btn-lg"> 
                    <span class="glyphicon glyphicon-export"></span> Exporter vers Excel</button>
            </div>

        </tab>

        <tab heading="Statistiques">
            <p>Tab to see Wallboard CPM</p>
        </tab>
    </tabset>

</div>