<div data-ng-controller="DemandescpmCtrl">
    <tabset>

        <!--    Create the To threat tickets tab-->
        <tab heading="Tickets à traiter">
            <br>
            <div>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-export"></span>
                    Exporter vers Excel
                </button>
            </div>
            <br>
            <table class="table table-striped">
                <thead class="srpTableHead">
                    <tr class="srpPink">
                        <th > # </th>
                        <th > Nom </th>
                        <th > Sujet </th>
                        <th > Priorité </th>
                        <th > Avant/Après Vente </th>
                        <th > Catégorie </th>
                        <th > Sous-Catégorie </th>
                        <th > No. de Commande </th>
                        <th > No. de Vente </th>
                        <th > Ref. SRP </th>
                        <th > Date de Création </th>
                        <th > Statut </th>
                        <th > +1500€ </th>
                        <th > Date de Dernière Réponse </th>
                        <th > Par </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="tckt in srpNewTckt track by $index">
                        <td > {{$index}} </td>
                        <td > {{$user.name}} </td>
                        <td > {{tckt.subj}} </td>
                        <td > {{tckt.prio}} </td>
                        <td > {{tckt.vente}} </td>
                        <td > {{tckt.cats}} </td>
                        <td > {{tckt.subCat}} </td>
                        <td > {{tckt.noComm}} </td>
                        <td > {{tckt.noSale}} </td>
                        <td > {{tckt.refSrp}} </td>
                        <td > {{createdate}} </td>
                        <td > A traiter </td>
                        <td > Non </td>
                        <td > Date de Dernière Réponse </td>
                        <td > Par </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <!--    End of the To threat tickets tab-->

        <!--    Create the Unread tickets tab-->
        <tab heading="Tickets non lus">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="srpPink">
                        <th > # </th>
                        <th > Nom </th>
                        <th > Sujet </th>
                        <th > Priorité </th>
                        <th > Avant/Après Vente </th>
                        <th > Catégorie </th>
                        <th > Sous-Catégorie </th>
                        <th > No. de Commande </th>
                        <th > No. de Vente </th>
                        <th > Ref. SRP </th>
                        <th > Date de Création </th>
                        <th > Statut </th>
                        <th > +1500€ </th>
                        <th > Date de Dernière Réponse </th>
                        <th > Par </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </tab>
        <!--    End of Unread tickets tab-->

        <!--    Create the Follow tickets tab-->
        <tab heading="Mes tickets et tickets suivis">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="srpPink">
                        <th > # </th>
                        <th > Nom </th>
                        <th > Sujet </th>
                        <th > Priorité </th>
                        <th > Avant/Après Vente </th>
                        <th > Catégorie </th>
                        <th > Sous-Catégorie </th>
                        <th > No. de Commande </th>
                        <th > No. de Vente </th>
                        <th > Ref. SRP </th>
                        <th > Date de Création </th>
                        <th > Statut </th>
                        <th > +1500€ </th>
                        <th > Date de Dernière Réponse </th>
                        <th > Par </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>

        </tab>
        <!--    End of Follow tickets tab-->

        <!--    Create the New tickets tab-->
        <tab heading="Nouveau Ticket">
            <br>
            <form name="helpForm" data-ng-submit="addNewTicket(prio, vente, cats,
                                                  subCats, newNumComm, newNumSale,
                                                  newRefSrp, newSubject, newMsg)">
                <div>
                    <div>
                        <div>
                            <label>Priorité</label>
                            <select class="srpDropdown" data-ng-model="prio"
                                    data-ng-options="prio.content for prio in srpPrios" required>
                            </select>
                        </div>

                        <br>

                        <div>
                            <label>Vente</label>
                            <select class="srpDropdown" data-ng-model="vente"
                                    data-ng-options="vente.content for vente in srpVentes" required>
                            </select>
                        </div>

                        <br>

                        <div>
                            <label>Catégorie</label>
                            <select class="srpDropdown" data-ng-model="cats"
                                    data-ng-options="cats.content for cats in srpCategories" required>
                            </select>
                        </div>

                        <br>

                        <div >
                            <label>Sous-Catégorie</label>
                            <select class="srpDropdown" data-ng-model="subCats"
                                    data-ng-options="subCats.content for subCats in srpSubCategories"required>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="srpDisplayInline">
                        <label>No. de Commande</label>
                        <input class="srpNewTcktInput input-sm" type="text" data-ng-model="newNumComm"
                               placeholder="Entrez un numéro de commande">
                        <label>No. de Vente</label>
                        <input class="srpNewTcktInput input-sm" type="text" data-ng-model="newNumSale"
                               placeholder="Entrez un numéro de vente">
                        <label>Ref. SRP</label>
                        <input class="srpNewTcktInput input-sm" type="text" data-ng-model="newRefSrp"
                               placeholder="Entrez une référence SRP">
                    </div>
                    <br><br>
                    <div>
                        <label>Sujet</label>
                        <input class="srpNewTcktInput input-sm" type="text"
                               data-ng-model="newSubject" placeholder="Entrez un sujet" required>
                    </div>
                    <hr>
                    <div>
                        <label>Message</label>
                        <textarea id="srpTextArea" type="text"
                                  data-ng-model="newMsg" required>
                        </textarea>
                    </div>
                    <br>
                    <div>
                        <label>
                            <span class="glyphicon glyphicon-paperclip"></span>
                            Fichier à joindre
                        </label>
                        <button class="glyphicon glyphicon-plus btn btn-success btn-sm">
                        </button>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block srpPositionBtnSend" data-ng-click="submit(helpForm)" data-ng-disabled="helpForm.$invalid">
                            <span class="glyphicon glyphicon-send"></span>
                            Envoyer le ticket
                        </button>
                    </div>
                </div>
            </form>
        </tab>
        <!--    End of New tickets tab-->

        <!--        Create Param. tab-->
        <tab heading="Paramètres">
            <br>
            <div>
                <form data-ng-submit="addStatut(statut)">
                    <label>Statut</label>
                    <input class="srpAlignCenter input-sm" type="text" data-ng-model="statut"
                           placeholder="Entrez un nouveau statut puis appuyez sur la touche entrée">
                </form>
            </div>
            <div>
                <ul>
                    <br>
                    <li class="list-group-item list-group-item-success" data-ng-repeat="statut in srpStatuts">
                        {{statut.content}}
                        <a href="" data-ng-click="srpStatuts.$remove(statut)">x</a>
                    </li>
                </ul>
            </div>
            <hr>

            <div>
                <form data-ng-submit="addPrio(prio)">
                    <label>Priorité</label>
                    <input class="srpAlignCenter input-sm" type="text" data-ng-model="prio"
                           placeholder="Entrez une nouvelle priorité puis appuyez sur la touche entrée">
                </form>
            </div>
            <div>
                <ul>
                    <br>
                    <li class="list-group-item list-group-item-warning" data-ng-repeat="prio in srpPrios">
                        {{prio.content}}
                        <a href="" data-ng-click="srpPrios.$remove(prio)">x</a>
                    </li>
                </ul>
            </div>
            <hr>

            <div>
                <form data-ng-submit="addVente(vente)">
                    <label>Vente</label>
                    <input class="srpAlignCenter input-sm" type="text" data-ng-model="vente"
                           placeholder="Entrez une nouvelle vente puis appuyez sur la touche entrée">
                </form>
            </div>
            <div>
                <ul>
                    <br>
                    <li class="list-group-item list-group-item-danger" data-ng-repeat="vente in srpVentes">
                        {{vente.content}}
                        <a href="" data-ng-click="srpVentes.$remove(vente)">x</a>
                    </li>
                </ul>
            </div>
            <hr>

            <div>
                <form data-ng-submit="addCat(cat)">
                    <label>Catégorie</label>
                    <input class="srpAlignCenter input-sm" type="text" ng-model="cat"
                           placeholder="Entrez une nouvelle catégorie puis appuyez sur la touche entrée">
                </form>
            </div>
            <div>
                <ul>
                    <br>
                    <li class="list-group-item list-group-item-info" data-ng-repeat="cat in srpCategories">
                        {{cat.content}}
                        <a href="" data-ng-click="srpCategories.$remove(cat)">x</a>
                    </li>
                </ul>
            </div>
            <hr>

            <div>
                <form data-ng-submit="addSubCat(subCat)">
                    <label>Sous-Catégorie</label>
                    <input class="srpAlignCenter input-sm" type="text" data-ng-model="subCat"
                           placeholder="Entrez une nouvelle sous-catégorie puis appuyez sur la touche entrée">
                </form>
            </div>
            <div>
                <ul>
                    <br>
                    <li class="list-group-item list-group-item-info" data-ng-repeat="subCat in srpSubCategories">
                        {{subCat.content}}
                        <a href="" data-ng-click="srpSubCategories.$remove(subCat)">x</a>
                    </li>
                </ul>
            </div>

        </tab>
        <!--    End of Param. tab-->

        <!--        Create the Research tab-->
        <tab heading="Recherche">
            <br>
            <div>
                <label for="inputDefault">No. de Ticket</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">No. de Commande</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">No. de Vente</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Nom</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Groupe</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <div>
                    <label>Priorité</label>
                    <select class="srpDropdown" data-ng-model="prio">
                        <option data-ng-repeat="prio in srpPrios">
                            {{ prio.content }}
                        </option>
                    </select>
                </div>

                <br>

                <div>
                    <label>Vente</label>
                    <select class="srpDropdown" data-ng-model="vente">
                        <option data-ng-repeat="vente in srpVentes">
                            {{ vente.content }}
                        </option>
                    </select>
                </div>

                <br>

                <div>
                    <label>Statut</label>
                    <select class="srpDropdown" data-ng-model="statut">
                        <option data-ng-repeat="statut in srpStatuts">
                            {{ statut.content }}
                        </option>
                    </select>
                </div>

                <br>

                <div>
                    <label>Catégorie</label>
                    <select class="srpDropdown" data-ng-model="cat">
                        <option data-ng-repeat="cat in srpCategories">
                            {{ cat.content }}
                        </option>
                    </select>
                </div>

                <br>

                <div>
                    <label>Sous-Catégorie</label>
                    <select class="srpDropdown" data-ng-model="subCat">
                        <option data-ng-repeat="subCat in srpSubCategories">
                            {{ subCat.content }}
                        </option>
                    </select>
                </div>

                <br>

                <div>
                    <label>+ 1500</label>
                    <select class="srpDropdown">
                        <option data-ng-repeat="choice in thousandFive">
                            {{ choice }}
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div>
                <label for="inputDefault">Date de début</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Date de fin</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <label for="inputDefault">Dernière action par</label>
                <input class="srpAlignCenter input-sm" id="inputDefault" type="text">
            </div>
            <br>
            <div>
                <button class="btn btn-primary btn-block"> 
                    <span class="glyphicon glyphicon-search"></span>
                    Recherche
                </button>
            </div>
            <br>
            <div>
                <button class="btn btn-default btn-lg"> 
                    <span class="glyphicon glyphicon-export"></span> Exporter vers Excel</button>
            </div>
        </tab>
        <!--    End of Research tab-->

        <!--        Create the Stat tab-->
        <tab heading="Statistiques">
            <p>Tab to see Wallboard CPM</p>
        </tab>
        <!--    End of Stat. tab-->
    </tabset>

</div>

<!--
Dropdown page Nouveau Ticket
<label>Priorité</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpPrios">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
<label>Vente</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpVentes">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
<br><br>

<label>Catégorie</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpCategories">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
<br><br>
<label>Sous-Catégorie</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpSubCategories">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
-->


<!--
Dropdown page Recherche
<label>Vente</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpVentes">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
</div>
<br>
<div>
<label>Priorité</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpPrios">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
</div>
<br>
<div>
<label>Statut</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpStatuts">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
</div>
<br>
<div>
<label>Catégorie</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Choisir<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpCategories">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
</div>
<br>
<div>
<label class="">Sous-Catégorie</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
<div data-ng-if="userChoice !== false">
{{ subCat[userChoice] }}
<span class="caret"></span></div>
<div data-ng-if="userChoice === false">
Choisir
<span class="caret"></span></div>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in srpSubCategories">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>

</div>


<div>
<label>+ 1 500€</label>
<div class="btn-group" dropdown>
<button type="button"
class="btn btn-default dropdown-toggle"
dropdown-toggle>
Non<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li data-ng-repeat="choice in subCat">
<a data-ng-click="userChoice = $index">{{ choice }}</a>
</li>
</ul>
</div>
</div>
-->
