<div>
    <label>
        Ticket numéro : {{index}}
    </label>
</div>
<div>
    <div>
        Sujet : {{ticket.subj}}
        <br>
        Catégorie : {{ticket.cats}}
        <br>
        Sous Catégorie : {{ticket.subCat}}
        <br>
        Priorité : {{ticket.prio}}
        <br>
        Num Comm : {{ticket.noComm}}
        <br>
        Num Vente : {{ticket.noSale}}
        <br>
        Ref SRP : {{ticket.refSrp}}
    </div>
    <hr>
    <i>Recontact client nécessaire</i><input type="checkbox"/>
    <hr>
    <div>
        {{ticket.msg}}
        {{ticket.rep}}
        <hr>
        <textarea type="text" placeholder="Répondre au message"
                  data-ng-model="newResponse" required></textarea>
    </div>
    <div>
        <span class="glyphicon glyphicon-paperclip"></span>
        Fichier à joindre à votre réponse
        <input type="file" file-dialog />
    </div>
    <div>
        Statut
        <select class="srpDropdown" data-ng-model="statut"
                data-ng-options="statut.content for statut in statutList" required>
        </select>
    </div>

    <div>
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>
            Envoyer la réponse</button>
    </div>
</div>

<div class="ngdialog-buttons">
    <!--
<p> {{$index}} <p>
<p> {{$user.name}} <p>
<p> {{ticket.subj}} <p>
<p> {{ticket.prio}} <p>
<p> {{ticket.vente}} <p>
-->
    <button type="button" class="ngdialog-buttons ngdialog-button-secondary"
            data-ng-click="cancel()">
        Retour
    </button>
</div>