<div>

    <table class="table table-condensed">
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-envelope"> Tickets à traiter </a></td>
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-send"> Tickets du groupe </a></td>
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-plus"> Nouveau ticket </a></td>
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-cog"> Paramètres </a></td>
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-stats"> Statistiques </a></td>
        <td> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-search"> Recherche </a></td>
    </table>
</div>

<div>
    <tabset class="table table-hover">
        <tab> # </tab>
        <tab> Source </tab>
        <tab> Segmentation </tab>
        <tab>Login Ouverture </tab>
        <tab> Sujet </tab>
        <tab> Date de création </tab>
        <tab> No. de Commande </tab>
        <tab> No. de Vente </tab>
        <tab> Ref. SRP </tab>
        <tab> Motif </tab>
        <tab> Statut </tab>
        <tab> Attribué à </tab>
        <tab> J+ </tab>
        <tab> Dernière Action </tab>
        <tab> Par </tab>
        <tab> Archivé </tab>
    </tabset>
</div>