<div>
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
            {{tab.content}}
        </tab>
    </tabset>
</div>

<!--
<div>
<ul class="table table-condensed">
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-envelope"> Tickets à traiter </a></li>
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-send"> Tickets du groupe </a></li>
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-plus"> Nouveau ticket </a></li>
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-cog"> Paramètres </a></li>
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-stats"> Statistiques </a></li>
<li> <a ng-href="http://localhost:9000/#/tickets-escalade" class="glyphicon glyphicon-search"> Recherche </a></li>
</ul>
</div>

<div>
<tabset class="table table-hover">
<tab> # </tab>
<tab> Source </tab>
<tab> Segmentation </tab>
<tab>Login Ouverture </tab>
<tab> Sujet </tab>
<tab> Date de création </tab>
<tab> No. de Commande </tab>
<tab> No. de Vente </tab>
<tab> Ref. SRP </tab>
<tab> Motif </tab>
<tab> Statut </tab>
<tab> Attribué à </tab>
<tab> J+ </tab>
<tab> Dernière Action </tab>
<tab> Par </tab>
<tab> Archivé </tab>
</tabset>
</div>-->
